{% extends "base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-3">
        {% include "components/_sidebar.html" %}
    </div>
    <div class="col-9">
        <div class="card-detail-wrapper">
            <div class="card-detail">
                <div class="card-detail__img">
                    <img src=" 
                    {% if product.image %}
                    {{ product.image.url }}
                    {% else %}
                    {% static 'icons/no-image.png' %}
                    {% endif %} " alt="">
                </div>
                <div class="card-detail__title">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="card-detail__price">
                    <h4>$ {{ product.price }}</h4>
                </div>
                <div class="card-detail__rating">
                    {% if product.get_rating > 0 and product.get_rating <= 0.5 %}
                    {% include "components/stars/05.html" %}
                    {% elif product.get_rating > 0.5 and product.get_rating <= 1.0 %}
                    {% include "components/stars/10.html" %}
                    {% elif product.get_rating > 1.0 and product.get_rating <= 1.5 %}
                    {% include "components/stars/15.html" %}
                    {% elif product.get_rating > 1.5 and product.get_rating <= 2.0 %}
                    {% include "components/stars/20.html" %}
                    {% elif product.get_rating > 2.0 and product.get_rating <= 2.5 %}
                    {% include "components/stars/25.html" %}
                    {% elif product.get_rating > 2.5 and product.get_rating <= 3.0 %}
                    {% include "components/stars/30.html" %}
                    {% elif product.get_rating > 3.0 and product.get_rating <= 3.5 %}
                    {% include "components/stars/35.html" %}
                    {% elif product.get_rating > 3.5 and product.get_rating <= 4.0 %}
                    {% include "components/stars/40.html" %}
                    {% elif product.get_rating > 4.0 and product.get_rating <= 4.5 %}
                    {% include "components/stars/45.html" %}
                    {% elif product.get_rating > 4.5 and product.get_rating <= 5.0 %}
                    {% include "components/stars/50.html" %}
                    {% else %}
                    {% include "components/stars/00.html" %}
                    {% endif %}
                    <div class="card__rating-value">{{ product.count_rates }}</div>
                </div>
                {% if user.is_authenticated %}
                <div class="card-detail__rating-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="rating-form__input-wrapper">
                            {{ rating_form }}
                        </div>
                        <button type="submit" class="rating-form__input-btn">Rate</button>
                    </form>
                </div>
                <div class="card-detail__cart-form">
                    <form method="POST" action="{% url 'cart:add' product_id=product.id %}">
                        {% csrf_token %}
                        {{ form }}
                        <button class="card-form__input-btn">To cart</button>
                    </form>
                </div>
                <div class="card-detail__wish-form">
                    <form method="POST">
                        {% csrf_token %}
                        {% if user.id in product.wished_by_users %}
                        <button value="{{ product.id }}" name="del" class="wish-form__input-btn-del">Remove from wish list</button>
                        {% else %}
                        <button value="{{ product.id }}" name="wish" class="wish-form__input-btn-wish">Add to wish list</button>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
                <div class="card-detail__description">
                    <p>{{ product.description }}</p>
                </div>
                {% if recommended_products %}
                <div class="card-detail__recommendations">
                    <h3>People who bought {{ product.name }}, also bought:</h3>
                    <div class="carousel owl-carousel owl-theme" id="carousel-header">
                        {% for item in recommended_products %}
                        <div class="carousel__item">
                            <img class="carousel__img" src="
                                {% if item.image %}
                                {{ item.image.url }}
                                {% else %}
                                {% static 'icons/no-image.png' %}
                                {% endif %}" alt="">
                            <div class="carousel__item-title">
                                <a class="link-lwc" href="{% url 'store:product-detail' slug=item.slug %}">
                                    <button class="carousel__item-title-header">
                                        {{ item.name }}
                                    </button>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}