{% extends "base.html" %}
{% load static %}
{% block title %}
My orders
{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-3">
        {% include "components/_sidebar.html" %}
    </div>
    <div class="col-9">
        <div class="wrapper-order-list">
            <div class="cart-wrapper__title">
                <h2>Your orders</h2>
                <hr>
            </div>
            <div class="cart-wrapper__body">
                <table class="body-cart">
                    <thead class="body-cart__threat">
                        <tr>
                            <th>Order number</th>
                            <th>Order date</th>
                            <th>Paid status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr class="order-row">
                            <td><a href="{{ order.get_absolute_url }}" class="link-lwc">Order - {{ order.id }}</a> </td>
                            <td>{{ order.created }}</td>
                            <td class="
                            {% if order.paid %}
                                order-paid
                            {% else %}
                                order-unpaid
                            {% endif %}"><b>{{ order.get_paid_status }}</b></td
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}