{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Online Store
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

<body>
    <header class="">
        <div class="container-fluid">
            <div class="header-top">
                {% if user.is_authenticated %}
                <a class="header-top__auth-link link-logout" href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a class="header-top__auth-link link-sign" href="{% url 'users:signin' %}">Sign in</a>
                {% endif %}
                <h1>Online Store</h1>
                {% if user.is_authenticated %}
                <a class="header-top__auth-link link-cart 
                {% with total_items=cart|length %} 
                {% if cart|length > 0 %}
                cart
                {% endif %}
                {% endwith %}
                " href="{% url 'cart:detail' %}">Cart</a>
                {% else %}
                <a class="header-top__auth-link link-sign" href="{% url 'users:signup' %}">Sign up</a>
                {% endif %}
            </div>
            {% include "components/_navbar.html" %}
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p class="text-center copyright">Online Store &copy; Copyright {% now 'Y' %}</p>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/carusel.js' %}"></script>
</body>

</html>