<nav class="header-nav">
    <div class="header-nav__categories">
        <a href="{% url 'store:productlist' %}" class="header-categories-link">
            <span class="header-categories-link__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                    <path d="M18 0v2H0V0zM0 5h18v2H0zm0 5h18v2H0z" />
                </svg>
            </span>
            <span class="header-categories-link__text">All Categories</span>
        </a>
    </div>
    <div class="header-nav__navbar">
        <a href="#" class="header-nav__link">Super Deals</a>
        {% if user.is_authenticated %}
            <a href="{% url 'store:wishlist' %}" class="header-nav__link">Wish list</a>
             <a href="{% url 'store:recommendations' user_id=request.user.id %}" class="header-nav__link">Personal recommendations</a>
        {% endif %}
       
        <a href="{% url 'store:bestselling' %}" class="header-nav__link">Bestselling</a>
    </div>
    <!-- header-nav__select -->
    <div class="header-nav__select">
        <!-- ITEM -->
        <div class="header-nav__select-item">
            <!-- dropdown nav -->
            <div class="nav-dropdown">
                <a href="#" class="nav-dropdown__title">
                    Help
                    <div class="nav-dropdown__title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5">
                            <path d="M3.998 5L8 2.5V.104L3.998 2.62 0 0v2.5z" />
                        </svg>
                    </div>
                </a>
                <div class="nav-dropdown__dropdown">
                    <a href="#" class="nav-dropdown__dropdown-item">
                        F.A.Q.
                    </a>
                    <a href="#" class="nav-dropdown__dropdown-item">
                        Payment
                    </a>
                    <a href="#" class="nav-dropdown__dropdown-item">
                        Delivery
                    </a>
                </div>
            </div>
            <!-- // dropdown nav -->
        </div>
        <div class="header-nav__select-item">
            <!-- dropdown nav -->
            {% if user.is_authenticated %}
            <div class="nav-dropdown">
                <a href="#" class="nav-dropdown__title">
                    Profile
                    <div class="nav-dropdown__title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5">
                            <path d="M3.998 5L8 2.5V.104L3.998 2.62 0 0v2.5z" />
                        </svg>
                    </div>
                </a>
                <div class="nav-dropdown__dropdown">
                    <a href="{% url 'users:profile' %}" class="nav-dropdown__dropdown-item">
                        My Profile
                    </a>
                    <a href="{% url 'orders:list' %}" class="nav-dropdown__dropdown-item">
                        My Orders
                    </a>
                    <a href="#" class="nav-dropdown__dropdown-item">
                        UAH
                    </a>
                </div>
            </div>
            {% endif %}
            <!-- // dropdown nav -->
        </div>
</nav>