<nav class="navigation">
    <ul class="navigation__list">
        {% for category in categories %}
        <a class="link-lwc" href="{{ category.get_absolute_url }}">
            <li class="navigation__item">
                <div class="navigation__item-icon">
                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                    </svg>
                </div>
                <div class="navigation__item-title">
                    {{ category.name }}
                </div>
                <div class="navigation__item-arrow">
                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                    </svg>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>
</nav>