<nav class="navigation">
                        <ul class="navigation__list">
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Computers
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 12H2V2h18zm0-12H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7l-2 3v1h8v-1l-2-3h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Apple Computers
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Laptops
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Friends
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                        <path d="M14 4H4v10h10zm1.999 4v2h2v2h-2v2c0 1.1-.899 2-2 2h-1.998v2H9.998v-2H8v2H6v-2H4c-1.1 0-2.001-.9-2.001-2v-2H0v-2H2V8H0V6H2V4c0-1.1.9-2 2-2H6V0h2v2h1.998V0H12v2H14c1.1 0 1.999.9 1.999 2v2h2v2zM9.998 8H8v2h1.998zM12 12H6V6h6z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Computer Components
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20">
                                        <path d="M7 10c-1.66 0-3 1.34-3 3s1.34 3 3 3c1.659 0 3-1.34 3-3s-1.341-3-3-3zm0 8c-2.76 0-5-2.24-5-5s2.24-5 5-5c2.759 0 5 2.24 5 5s-2.241 5-5 5zM7 2c1.1 0 2 .9 2 2s-.9 2-2 2a2 2 0 1 1 0-4zm5-2H2C.9 0-.001.9-.001 2v16c0 1.1.9 1.99 2 1.99L12 20c1.1 0 2-.9 2-2V2c0-1.1-.899-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Accessories
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22">
                                        <path d="M11 17H2V3h9zm-4.5 4c-.83 0-1.5-.67-1.5-1.5S5.67 18 6.5 18s1.5.67 1.5 1.5S7.33 21 6.5 21zm4-21H2.498A2.499 2.499 0 0 0 .002 2.5v17c0 1.38 1.117 2.5 2.497 2.5h8a2.5 2.5 0 0 0 2.5-2.5v-17a2.5 2.5 0 0 0-2.5-2.5z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Cell Phones
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    TV & Video
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                        <path d="M20 14H2V2h18zm0-14H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h7v2H7v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Game consoles
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                            <li class="navigation__item">
                                <div class="navigation__item-icon">
                                    <svg class="navigation__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="24" viewBox="0 0 16 24">
                                        <path d="M2 12c0-3.31 2.69-6 5.998-6 3.311 0 6 2.69 6 6s-2.689 6-6 6A6.005 6.005 0 0 1 2 12zm14 0c0-2.54-1.19-4.81-3.04-6.27L12 0H4l-.95 5.73A7.937 7.937 0 0 0-.001 12c0 2.55 1.19 4.81 3.05 6.27L4 24h8l.96-5.73A7.975 7.975 0 0 0 16 12z" />
                                    </svg>
                                </div>
                                <div class="navigation__item-title">
                                    Watches
                                </div>
                                <div class="navigation__item-arrow">
                                    <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                                        <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z" />
                                    </svg>
                                </div>
                            </li>
                        </ul>
                    </nav>